$black: #000000;
$white: #ffffff;
$card-grey: #f8f8f8;
$orange: #eb7c0e;
$dark: #121720;
$almost-black: #0b0e14;
$mango: #faaf3a;
$very-light-pink: #f2f2f2;
$lipstick: #c92331;
$nasty-green: #6ea53c;
$brownish-grey: #646464;
$very-light-pink-two: #d8d8d8;
$very-light_pink-three: #c8c8c8;

$theme-colors: ("primary": $mango, "light": $very-light-pink-two)