<div class="login">

  <div class="login-content">

    <div class="logo">
      <%= image_tag("logo-dark.png", {width: 300, :alt => "Quant Wrestling"}) %>
    </div>

    <h1>Password Changed</h1>

    <p><%= t('.password_changed_instructions') %></p>

  </div>

</div>